<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Web Components At Work</title>
  <link href="https://fonts.googleapis.com/css?family=Fira+Mono|Lato|Manuale" rel="stylesheet">
  <link rel="stylesheet" href="static/style.css">

  <!-- BEGIN TWITTER SUMMARY CARD -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Web Components At Work">
  <meta name="twitter:site" content="@thomaswilburn">
  <meta name="twitter:image" content="https://thomaswilburn.github.io/wc-book/static/social.jpg">
  <meta name="twitter:description" content="A guide to building effective and maintainable web components">
  <meta name="twitter:url" content="https://thomaswilburn.github.io/wc-book/">

  <!-- Social sharing meta -->
  <meta property="og:type" content="article">
  <meta property="og:title" content="Table of Contents">
  <meta property="og:site_name" content="Web Components at Work">
  <meta property="og:image" content="https://thomaswilburn.github.io/wc-book/static/social.jpg">
  <meta property="og:description" content="A guide to building effective and maintainable web components">
  <meta property="og:url" content="https://thomaswilburn.github.io/wc-book/">
</head>
<body class="table-of-contents">
  <main>
  <h1>Web Components At Work</h1>
  <h2>A guide to building effective and maintainable web components</h2>
  <h3>Table of Contents</h3>
  <ol class="chapters">
{{content}}
  </ol>
  </main>
</body>
</html>
